[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
djangorestframework = "*"
django-jazzmin = "*"
mysqlclient = "*"
django-cors-headers = "*"
drf-nested-routers = "*"
django-debug-toolbar = "*"
pillow = "*"
drf-redesign = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
